.flag{
    width: 100px;
    height: 50px;
}
#nav{
    border-bottom: 4px solid black;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#candidants{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#nixon{
    width: 200px;
    height: 250px;
}
#bNixon{
    width: 200px;
    height: auto;
    text-align: center;
    font-size: 18px;
    font-family: cursive;
}
#george{
    width: 200px;
    height: 250px;
}
#bGeorge{
    width: 200px;
    height: auto;
    text-align: center;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#john{
    width: 200px;
    height: 250px;
}
#bJohn{
    width: 200px;
    height: auto;
    text-align: center;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#candidants{
    margin-bottom: 10px;
}
#field{
    width: 45vw;
    height: 40vh;
    background-image: url(field.png);
    position: relative;
    overflow: hidden;
    cursor: url(CountryPointer.png), pointer;
    margin: auto;
}
#ball{
    position: absolute;
    left: 0;
    top: 0;
    width: 55px;
    height: 55px;
    transition: all .25s;
}
